MAINNET_NODE_URL = "<add_mainnet_url eg: https://nostalgic-hermann:kiln-purity-halves-emit-amuck-antler@nd-907-842-316.p2pify.com or https://localhost:8545 (if running via ganache)>" 
MY_PRIV_KEY = "0x<add_your_metamask_account_private_key (prefix it with 0x)>";