# folders
artifacts/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/
specification_docs/
deployments/
contracts/protocol/earn-protocol-configuration
contracts/protocol/adapters
tenderly-actions/

# files
.solcover.js
