# folders
artifacts/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/
specification_docs/
deployments/
contracts/protocol/adapters/ethereum/team-defi-adapters
contracts/protocol/earn-protocol-configuration
contracts/protocol/adapters/defi-adapters
contracts/protocol/adapters/ethereum/curve-metapool-deposit-adapter
contracts/protocol/adapters/ethereum/curve-metapool-gauge-adapter
contracts/protocol/adapters/ethereum/curve-metapool-swap-adapter
contracts/protocol/adapters/polygon/curve-polygon-adapter
contracts/protocol/adapters/polygon/aave-polygon-adapter
contracts/protocol/adapters/polygon/sushiswap_pools_adapter
contracts/protocol/adapters/polygon/quickswap-pool-polygon
# files
.solcover.js