node_modules/

contracts/earn-protocol/
**/contracts/earn-protocol/contracts/protocol/adapters/defi-adapters/*
**/contracts/earn-protocol/contracts/protocol/earn-protocol-configuration/*
**/contracts/optyfi-oracle/*
**/typechain-types/*

**/cache
**/coverage
**/dist
**/node_modules
**/typechain

artifacts/
cache/

coverage/
coverage.json

docgen/

.env

