# directories
.yarn/
**/.coverage_artifacts
**/.coverage_cache
**/.coverage_contracts
**/artifacts
**/build
**/cache
**/coverage
**/dist
**/node_modules
**/typechain
**/specification_docs
contracts/protocol/earn-protocol-configuration
contracts/protocol/adapters/avalanche
contracts/protocol/adapters/defi-adapters
contracts/protocol/adapters/ethereum/curve-crypto-pool-adapter
contracts/protocol/adapters/ethereum/curve-metapool-gauge-adapter
contracts/protocol/adapters/ethereum/curve-metapool-swap-adapter
contracts/protocol/adapters/ethereum/newo-staking-adapter
contracts/protocol/adapters/ethereum/sushi-bar-adapter
contracts/protocol/adapters/ethereum/sushiswap-masterchefv2-adapter-ethereum
contracts/protocol/adapters/ethereum/team-defi-adapters
contracts/protocol/adapters/polygon
contracts/protocol/adapters/swap-adapters
contracts/protocol/adapters/uniswapV2PoolAdapter
**out/
helpers/types/
deployments/
contracts/utils/optyfi-oracle

# files
*.env
*.log
.pnp.*
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*